body {
  margin: 0;
  font-family: Arial;
  background-color: #0f172a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #020617;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
  color: #38bdf8;
}

/* BUTTON */
button {
  padding: 10px 20px;
  background-color: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* CARD */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
